a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    list-style: none;
}

.true {
    display: flex;
    align-items: center;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
}

.header {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)),
        url("../images/Medical-muscle.png");
    padding: 30px 0 0 0;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.login-login {
    padding-right: 50px;
    font-size: 14px;
    line-height: 19px;
}

.login-btn {
    width: 137px;
    height: 52px;
    border: 0;
    border-radius: 5px;
    background-color: #98bb7d;
    color: #FFFFFF;
}

.arrow-rght {
    width: 12px;
    height: 10px;
    padding-left: 15px;
}

.logo {
    padding-right: 38px;
}

.login,
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.menu {
    display: flex;
}

.menu-item {
    padding-right: 21px;
}

.headline-title {
    padding-top: 221px;
    padding-left: 250px;
    padding-right: 254px;
    font-weight: 700;
    font-size: 58px;
    line-height: 80px;
    margin: 0;
}

.headline {
    display: block;
    align-items: center;
    text-align: center;
}

.headline-text {
    width: 400px;
    height: 60px;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
    padding: 38px 338px;
    margin: 0;
}

.headline-btn {
    margin-bottom: 152px;
    width: 133px;
    height: 52px;
    border: 0;
    border-radius: 5px;
    background-color: #98bb7d;
    color: #FFFFFF;
}

.red-line {
    width: 94px;
    height: 7px;
    background: #FF7171;
}

.one-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.part-one,
.part-two {
    height: 849px;
    background-color: #2D4059;
}

.partone-left {
    width: 45%;
}

.partone-head {
    width: 352px;
    height: 100px;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
}

.partone-text {
    width: 345px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

}

.learn-more {
    margin-top: 35px;
}

.learnmore-btn {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    color: #96BB7C;
}

.learnmore-img {
    margin-left: 10px;
    width: 9px;
    height: 16px;
}

.cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.left-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.first-card,
.second-card,
.third-card {
    width: 160px;
    background-color: #FFFFFF;
    padding: 35px 40px;
}

.second-card {
    margin-top: 24px;
}

.red-item,
.secondcard-reditem,
.thirdcard-reditem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 22px 19px;
    background: #FF7171;
    border-radius: 10px;
    width: 32px;
    height: 32px;
}

.reditem-icon,
.secondcard-reditemicon,
.thirdcard-reditemicon {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 32px;
    height: 32px;
}

.firstcard-other,
.secondcard-other,
.third-other {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.firstcard-title,
.secondcard-title,
.thirdcard-title {
    color: #252B42;
    margin-top: 20px;
}

.firstcard-title {
    width: 161px;
    letter-spacing: 0.1px;
    margin-top: 25px;
    font-size: 16px;
}


.secondcard-title {
    width: 102px;
    height: 48px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
}

.firstcard-line,
.secondcard-line,
.thirdcard-line {
    margin-top: 15px;
    width: 50px;
    height: 2px;
    background: #FF7171;
}

.firstcard-text,
.secondcard-text,
.thirdcard-text {
    font-weight: 400;
    color: #737373;
    height: 60px;
    line-height: 20px;
    letter-spacing: 0.2px;
    width: 132px;
    /* margin-top: 20px; */
}

.firstcard-text {
    margin-top: 20px;
}

.right-cards {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.third-card {
    margin-left: 30px;
    margin-top: 200px;
    margin-right: 5px;
}

.two-container {
    display: flex;
    align-items: center;
    height: 100%;
}

.image-doctor {
    width: 507px;
    height: 342.41px;
}

.left-content {
    width: 50%;
}

.right-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 381px;
    height: 246px;
    /* gap: 35px; */
    width: 50%;
}

.parttwo-learnmore-btn {
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    color: #96BB7C;
}

.parttwo-learnmore-img {
    margin-left: 10px;
    width: 9px;
    height: 16px;
}

.parttwo-title {
    font-weight: 700;
    font-size: 40px;
}

.red-line parttwo {
    width: 94px;
    height: 7px;
    background: #FF7171;
}

.parttwo-text {
    font-weight: 400;
    font-size: 14px;
}